*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
header{
background: rgb(180,58,161);
background: linear-gradient(-90deg, rgba(180,58,161,1) 0%, rgba(224,29,253,0.9792843691148776) 50%, rgba(252,224,69,1) 100%);
width: 100%;
}
.upperheader img{
   width: 20px;
}
ul{
    list-style-type: none;
}
header ul{
    display: flex;
    list-style-type: none;
}
.social li{
    padding: 5px;
}
.upperheader .phone{
    float: right;
    margin-top: -30px;

}
span{
    position:absolute;
    padding-left: 5px;
    
}
.upperheader .phone li{
    padding: 0px 100px 0px 0px;
}
.phone{
    padding: 0px 120px 0px 0px;
}
.upperheader .phone img{
    padding-left: 5px;
    width: 20px;
}

section{
    width:100%;
}
.landingpage{
    font-weight: bolder;
    font-size: larger;
}
.lowerheader{
    padding: 6px;
    background-color: aliceblue;
}
.home{
    float: right;
    margin-top: -20px;
}
.home li{
    padding: 0px 5px;
}
.button{
    color: black;
}
.button:hover{
    background-color: rgb(205, 169, 11);
    padding: 10px;
    box-sizing: content-box;
    margin-top: -8px;
}
.agency{
    height: 450px;
    background-size: cover;
    background-image: url("istockphoto-690028746-612x612.jpg");
    position: relative;
}
.digital{
    position: absolute;

}
.digital p{
    margin-left: 5%;
}
.digital button{
    margin-left: 5%;
    margin-top: 10px;
}
.agency h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 50%;
}
.color{
    height: 150px;
    background: rgb(180,58,161);
    background: linear-gradient(-90deg, rgba(180,58,161,1) 0%, rgba(224,29,253,0.9792843691148776) 50%, rgba(252,224,69,1) 100%);
    background-size: cover;
} 

.color img{
   width:40px;
 
}

/* CSS */
.button-28 {
  appearance: none;
  background-color:transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: 30%;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
.color{
   padding: 1rem 1rem;
    text-align: center;
}
.rocket{
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    padding-right: 30px;
    display: inline-block;
    
   }
.about h1{
    padding: 50px 50px 5px 50px;
    font-size: 35px;
}
.services h1{
    padding: 50px 50px 5px 50px;
    font-size: 35px;
}
hr{
    width: 90px;
    margin-left: 55px;
    height: 5px;
    background: rgb(180,58,161);
    background: linear-gradient(-90deg, rgba(180,58,161,1) 0%, rgba(224,29,253,0.9792843691148776) 50%, rgba(252,224,69,1) 100%);
    border-radius: 0px;
    border: #fff;
}
.about{
    display: inline-flex;
}
.aboutus img{
    width: 450px;
    margin-top: 50px;
}
.about h2{
    padding:0px 50px 5px 50px ;
}
.about p{
    padding:0px 50px 5px 50px ;
}
.button-20 {
    margin-left: 50px;
    margin-top: 20px;
    appearance: none;
    background:linear-gradient(-90deg, rgba(180,58,161,1) 0%, rgba(224,29,253,0.9792843691148776) 0%, rgba(252,224,69,1) 100%);
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    width: 20%;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
    will-change: transform;
  }
  
  .button-20:disabled {
    pointer-events: none;
  }
  
  .button-20:hover {
    background-color: #1A1A1A;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-20:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .cards img{
    width: 300px;
    border-radius: 16px;
  }
  .servicess{
    text-align: center;
  }
  .cards{
    display: inline-block;
    padding: 10px;
}
